.form-container {
    height: 100vh;
    padding-top: 8%;
    background-color: var(--dark-color);
}

form {
    width: 500px;
    padding: 40px 60px 30px 60px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--light-color);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
}

label {
    font-weight: 500;
    font-size: 14pt;
    color: var(--dark-color);
}

.user-form-input {
    width: 100%;
    padding: 7px 14px;
    margin-bottom: 20px;
    font-size: 12pt;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
}

.terms-input-container {
    transform: translateY(-30px);
}

.btn-submit-container {
    width: 40%;
    margin: 30px auto 0px auto;
}

span {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14pt;
    color: rgb(11, 27, 253);
}

button {
    width: 100%;
    padding: 5px 20px;
    margin: 0 auto;
    color: var(--white);
    font-size: 16pt;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: var(--btn-color);
    text-shadow: 1px 1px 5px #ad5029, -1px -1px 5px #ad5029;
    cursor: pointer;
}

p {
    margin-top: 60px;
    text-align: center;
    font-size: 15pt;
    color: var(--white);
}

a {
    color: var(--btn-color);
}

@media screen and (max-width: 1366px) {
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .user-form-input {
        margin-bottom: 10px;
    }

    .terms-input-container {
        transform: translateY(-10px);
    }

    .btn-submit-container {
        width: 60%;
    }

    p {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
    }
}