header {
    background-color: var(--primary-color);
}

.header-content {
    height: var(--header-height);
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo h1{
    line-height: 60px;
}

.header-logo a {
    text-decoration: none;  
    color: var(--black);
}

.user-authentication a{
    color: var(--black);
    padding: 5px 15px;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    background-color: var(--light-color);
    border-radius: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-profile-link {
    cursor: pointer;
    color: var(--black);
    padding: 5px 15px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--light-color);
    border-radius: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-menu {
    display: none;
    position: absolute;
    right: 47px;
    transform: translateY(3px);
    width: 150px;
    padding: 20px 10px 0px 10px;
    background-color: var(--light-color);
    border-radius: 10px;
    border-top-right-radius: 0px;
    border: 3px solid var(--primary-color);
}

.user-menu ul {
    list-style: none;
}

.user-menu li {
    margin-bottom: 20px;
    text-align: center;
}

.user-menu a {
    color: var(--black);
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
}

.user-menu a:hover {
    color: var(--btn-color);
    text-decoration: underline;
}

.user-authentication a:first-child {
    margin-right: 20px;
}

footer {
    height: 100px;
    background-color: var(--primary-color);
}

footer h3 {
    line-height: 100px;
    text-align: center;
}