.banner {
    display: flex;
    height: calc(100vh - 100px);
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 70px;
    width: 50%;
    align-items: center;
}

.banner-text h1 {
    font-size: 30pt;
    text-align: center;
}

.banner-paragraphs p:first-child {
    margin-bottom: 35px;
}

.banner-paragraphs p {
    text-align: center;
    font-size: 17pt;
    font-weight: 500;
}

.banner-img {
    width: 50%;
    height: 100%;
    background-color: var(--blue);
}

.presentation {
    color: var(--dark-green);
}

.presentation-title {
    margin: 150px auto 50px auto;
    text-align: center;
    font-size: 25pt;
}

.how-works-container h2{
    margin: 30px auto 50px auto;
    text-align: center;
}

.how-works {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.how-works-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    width: 370px;
    padding: 30px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #213c4768;
}

.how-works-item h3 {
    margin: 15px auto 25px auto;
    text-decoration: underline;
    text-align: center;
    font-size: 16pt;
}

.how-works-item p {
    text-align: center;
    font-size: 14pt;
}

.benefits-container {
    padding: 0px 10%;
}

.benefits-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.benefit {
    width: 45%;
    padding: 15px 20px;
    font-size: 15pt;
    color: var(--white);
    background-color: var(--dark-green);
    border-radius: 5px;
}

.start-now {
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-now p {
    text-align: center;
    font-size: 17pt;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px;
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    border-radius: 5px;
}

.start-now a{
    margin: 30px auto 80px auto;
    padding: 10px 15px;
    color: var(--black);
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    .banner-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 80px 50px;
        width: 50%;
        align-items: center;
    }
    
    .banner-text h1 {
        font-size: 28pt;
        text-align: center;
    }
    
    .banner-paragraphs p:first-child {
        margin-bottom: 25px;
    }
    
    .banner-paragraphs p {
        text-align: center;
        font-size: 15pt;
        font-weight: 500;
    }
}