.study {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid var(--green);
    background-color: var(--light-green);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.study-subject-description {
    width: 85%;
    font-weight: 500;
    font-size: 14pt;
}

.study-revision-cycles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 10px;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    text-align: center;
    font-weight: 500;
}

.study-date {
    text-align: center;
    min-width: 124px;
    margin: 0px 10px;
    padding: 2px 4px;
    font-size: 16pt;
    color: var(--dark-green);
    border: 2px solid var(--green);
    border-radius: 5px;
}

.study-commands {
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid var(--green);
    border-top: none;
    background-color: var(--light-green);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 45px;
}
.study-commands a {
    padding: 3px 6px;
    margin-right: 15px;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    .study-subject-description {
        font-size: 12pt;
    }
}