.revisions-home-main-container {
    display: flex;
}

.revisions-home-main-content-container {
    padding: 40px 300px;
    width: calc(100% - 310px);
    min-height: calc(100vh - 100px);
    height: fit-content;
}

.revisions-home-main-content-container hr {
    margin-bottom: 50px;
    border: 1px solid var(--dark-green);
}

.revisions-home-main-content-container ul {
    list-style: none;
}

.today-revisions {
    height: fit-content;
}

.revisions-list-title {
    font-size: 19pt;
    text-decoration: underline;
    color: var(--dark-green);
    margin-bottom: 20px;
    margin-left: 20px;
}

.revision-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: var(--light-green);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.revision-subject-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 60px;
    padding: 5px;
}

.revision-subject-icon-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: var(--green);
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.revision-subject-icon {
    background-color: var(--red);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.revision-date {
    margin-left: 20px;
    padding: 2px 4px;
    height: fit-content;
    font-size: 16pt;
    color: var(--dark-green);
    border: 2px solid var(--green);
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    .revisions-home-main-content-container {
        padding: 40px 100px;
    }
}