.revisions-home-main-container {
    display: flex;
}

.revisions-home-main-content-container {
    padding: 40px 300px;
    width: calc(100% - 310px);
    min-height: calc(100vh - 100px);
    height: fit-content;
}

.revisions-home-main-content-container hr {
    margin-bottom: 50px;
    border: 1px solid var(--dark-green);
}

.revisions-home-main-content-container ul {
    list-style: none;
}

.revisions {
    height: fit-content;
}

.revisions hr {
    border: 1px solid var(--dark-green);
    margin-top: 60px;
    margin-bottom: 70px;
    width: 106%;
    transform: translateX(-3%);
}

.revisions-list-title {
    margin-bottom: 35px;
    text-align: left;
    text-decoration: underline;
    color: var(--dark-green);
    font-size: 19pt;
}

.revisions li {
    display: flex;
    align-items: center;
}

.checkbox-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 30px;
    margin-right: 20px;
    transform: translate(-56px, -15px);
}

.revision-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 25px;
    padding: 15px 10px;
    background-color: var(--light-green);
    border: 2px solid var(--green);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.revision-subject-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 60px;
    padding: 5px;
}

.revision-subject-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.revision-subject-name p {
    font-weight: 500;
    font-size: 14pt;
}

.revision-date {
    text-align: center;
    min-width: 124px;
    margin: 0px 10px;
    padding: 2px 4px;
    font-size: 16pt;
    color: var(--dark-green);
    border: 2px solid var(--green);
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    .revisions-home-main-content-container {
        padding: 40px 100px;
    }

    .revision-subject-name p {
        font-weight: 500;
        font-size: 12pt;
    }
}