@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --yellow: #e9c46a;
    --blue: #3483FA;

    --black: #141414;
    --white: #FFF9F5;

    --primary-color: #2a9d8f;
    --dark-color: #213C47;
    --light-color: #E8FCCF; 
    --btn-color: #F4743B;
    --primary-danger-color: #CC2936;
    --light-danger-color: #F0B5B3;
    --grey: #e6e6e6;

    --header-height: 90px;
    --side-menu-width: 310px;
}

* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
}

.main-container {
    display: flex;
}

.main-content-container {
    padding: 40px 300px;
    width: calc(100% - var(--side-menu-width));
    min-height: calc(100vh - var(--header-height));
    height: fit-content;
}

.main-content-container ul {
    list-style: none;
}

.main-content-container h2 {
    color: var(--dark-color);
}

hr {
    margin-bottom: 50px;
    border: 1px solid var(--dark-color);
}

.centered-text {
    text-align: center;
}

.vermelho {
    background-color: #CC2936;
}

.laranja {
    background-color: #F4743B;
}

.amarelo {
    background-color: #e9c46a;
}

.verde {
    background-color: #2a9d8f;
}

.azul {
    background-color: #3483FA;
}

.roxo {
    background-color: #9448BC;
}

.branco {
    background-color: #FFF9F5;
}

@media screen and (max-width: 1366px) {
    .main-content-container {
        padding: 40px 100px;
    }
}