@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --red: #CC2936;
    --black: #141414;
    --dark-grey: #2A2D34;
    --blue: #3483FA;
    --white: #FFF9F5;
    --dark-green: #213C47;
    --green: #2a9d8f;
    --light-green: #E8FCCF;
    --yellow: #e9c46a;
    --light-orange: #f4a261;
    --orange: #F4743B;
}

* {
    margin: 0;    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.vermelho {
    background-color: #CC2936;
}

.laranja {
    background-color: #F4743B;
}

.amarelo {
    background-color: #e9c46a;
}

.verde {
    background-color: #2a9d8f;
}

.azul {
    background-color: #3483FA;
}

.roxo {
    background-color: #9448BC;
}

.branco {
    background-color: #FFF9F5;
}