@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --dark-grey: #2A2D34;
    --yellow: #e9c46a;
    --blue: #3483FA;
    --red: #CC2936;

    --black: #141414;
    --white: #FFF9F5;

    /* --primary-color: #7D70BA;
    --dark-color: #2E1B43;
    --light-color: #f2e7ff;
    --btn-color: #42BFDD; */

    --primary-color: #2a9d8f;
    --dark-color: #213C47;
    --light-color: #E8FCCF; 
    --btn-color: #F4743B;
}

* {
    margin: 0;    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.vermelho {
    background-color: #CC2936;
}

.laranja {
    background-color: #F4743B;
}

.amarelo {
    background-color: #e9c46a;
}

.verde {
    background-color: #2a9d8f;
}

.azul {
    background-color: #3483FA;
}

.roxo {
    background-color: #9448BC;
}

.branco {
    background-color: #FFF9F5;
}