.subject-main-container {
    display: flex;
}

.subject-main-content-container {
    padding: 40px 300px;
    width: calc(100% - 310px);
    min-height: calc(100vh - 100px);
    height: fit-content;
}

.subject-main-content-container h2 {
    text-align: center;
}

.subject-main-content-container hr {
    margin-bottom: 50px;
    border: 1px solid var(--black);
}

.subject-form-explanation-container {
    display: flex;
    margin: 30px 0px 50px 0px;
    padding: 40px;
    background-color: var(--light-green);
    border-radius: 30px;
    border: 3px solid var(--green);
}

.subject-form-container {
    width: 60%;
    background-color: var(--light-green);
    border-right: 1px solid var(--green);
}

.subject-form-container label {
    font-weight: 500;
    font-size: 14pt;
    color: var(--super-dark-green);
}

.subject-form-input {
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding: 7px 14px;
    font-size: 12pt;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--super-dark-green);
}

.subject-btn-submit-container {
    width: calc(50% - 20px);
    margin-top: 20px;
}

.subject-btn-submit-container button {
    width: 100%;
    padding: 5px 20px;
    color: var(--white);
    font-size: 16pt;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    transform: translateX(50%);
    background-color: var(--orange);
    text-shadow: 1px 1px 5px #ad5029, -1px -1px 5px #ad5029;
    cursor: pointer;
}

.explanation {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    font-size: 14pt;
    font-weight: 500;
    color: var(--super-dark-green);
    text-align: center;
}

.my-subjects h2{
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
}

.my-subjects ul{
    list-style: none;
}

@media screen and (max-width: 1366px) {
    .subject-main-content-container {
        padding: 40px 100px;
    }
}