.update-password-main-container {
    display: flex;
}

.update-password-main-content-container {
    padding: 40px 350px;
    width: calc(100% - var(--side-menu-width));
    min-height: calc(100vh - var(--header-height));
    height: fit-content;
}

.update-password-main-content-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.update-password-form-container form {
    margin: 0px auto;
    width: 40%;
    padding: 40px;
    background-color: var(--light-color);
    border-radius: 30px;
    border: 3px solid var(--primary-color);
}

.update-password-form-container .user-form-input {
    width: 100%;
    padding: 3px 6px;
    margin-bottom: 20px;
    font-size: 11pt;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--dark-color);
}

.update-password-form-container .btn-submit-container {
    width: 100%;
    margin-top: 20px;
}

.update-password-form-container .btn-submit-container button {
    width: 100%;
    padding: 5px 20px;
    color: var(--white);
    font-size: 16pt;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: var(--btn-color);
    text-shadow: 1px 1px 5px #ad5029, -1px -1px 5px #ad5029;
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .update-password-form-container form {
        width: 100%;
    }
}