<header>
    <div class="header-content">
        <div class="header-logo">
            <a href="{% url 'revisions_home' %}">
                <h1>Revise Minder</h1>
            </a>
        </div>
        <div class="user-profile-container">
            <span id="user-profile" class="user-profile" onclick="user_menu()">{{user.username}}</span>
            <div onmouseleave="hide_user_menu()" id="user-menu" class="user-menu">
                <ul>
                    <li><a href="">Excluir conta</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>