<div class="side-menu">
    <a href="{% url 'add_study' %}" class="add-study-btn-anchor">
        <div class="add-study-btn">
            <h2>+ Estudo</h2>
        </div>
    </a>
    <nav>
        <ul class="side-menu-list">
            <li>
                <a href="{% url 'revisions_home' %}">
                    <div class="home-icon side-menu-icon"></div>                                    
                    <p>Inicio</p>
                </a>
            </li>
            <li>
                <a href="{% url 'subject' %}">
                    <div class="atom-icon side-menu-icon"></div>
                    <p>Assuntos</p>
                </a>
            </li>
            <li>
                <a href="{% url 'my_studies' %}">
                    <div class="studies-icon side-menu-icon"></div>
                    <p>Meus Estudos</p>
                </a>
            </li>
            <li>
                <a href="{% url 'past_revisions' %}">
                    <div class="past-revisions side-menu-icon"></div>
                    <p>Revisões passadas</p>
                </a>
            </li>
        </ul>
    </nav>
</div>