{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header_footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/side_menu.css' %}">
    <link rel="stylesheet" href="{% static 'styles/revisions_home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/form_list.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subject.css' %}">
    <link rel="stylesheet" href="{% static 'styles/my_studies.css' %}">
    <link rel="stylesheet" href="{% static 'styles/my_account.css' %}">
    <link rel="stylesheet" href="{% static 'styles/update_password.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message.css' %}">
    <title>Revise Minder</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    {% include 'revise_minder/partials/_header.html' %}
    <main class="main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="main-content-container">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'revise_minder/partials/_footer.html' %}
</body>
</html>