{% extends 'revise_minder/base.html' %}
{% block content %}
{% include 'revise_minder/partials/_header.html' %}
    <main class="revisions-home-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="revisions-home-main-content-container">
            <div class="today-revisions">
                <h3 class="revisions-list-title">Revisões passadas</h3>
                <ul>

                    {% if past_revisions %}
                    {% for revision in past_revisions %}
                    <li class="revision-list-item">
                        <div class="revision-subject-info">
                            <div class="revision-subject-icon {{ revision.revision.study.subject.color }}"></div>
                            <div class="revision-subject-name">
                                <p>{{ revision.revision.study.subject.description }}</p>
                            </div>
                        </div>
                        <div class="revision-date">{{ revision.date }}</div>
                    </li>
                    {% endfor %}
                    {% else %}
                        <p>(Nenhuma revisão passada.)</p>
                    {% endif %}

                </ul>
            </div>
        </div>
    </main>
{% endblock %}