{% extends 'revise_minder/base.html' %}
{% block content %}
{% include 'revise_minder/partials/_header.html' %}
    <main class="revisions-home-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="revisions-home-main-content-container">
            <div class="today-revisions">
                <h3 class="revisions-list-title">Revisões para hoje</h3>
                <ul>

                    <li class="revision-list-item">
                        <div class="revision-subject-info">
                            <div class="revision-subject-icon azul"></div>
                            <div class="revision-subject-name">
                                <p>(Descrição do assunto da revisão)</p>
                            </div>
                        </div>
                        <div class="revision-date">12/12/2023</div>
                    </li>

                </ul>
            </div>
            <hr>
            <div class="future-revisions">
                <h3 class="revisions-list-title">Revisões futuras</h3>
                <ul>
                    
                    <li class="revision-list-item">
                        <div class="revision-subject-info">
                            <div class="revision-subject-icon azul"></div>
                            <div class="revision-subject-name">
                                <p>(Descrição do assunto da revisão)</p>
                            </div>
                        </div>
                        <div class="revision-date">12/12/2023</div>
                    </li>

                </ul>
            </div>
        </div>
    </main>
{% endblock %}