{% extends 'revise_minder/base.html' %}
{% block content %}
    <main class="revise-minder-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="main-content-container">
            <div class="today-reviews">
                <h3 class="reviews-list-title">Revisões para hoje</h3>
                <ul>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="future-reviews">
                <h3 class="reviews-list-title">Revisões futuras</h3>
                <ul>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                    <li class="review-list-item">
                        <div class="review-subject-info">
                            <div class="review-subject-icon-outline">
                                <div class="review-subject-icon"></div>
                            </div>
                            <div class="review-subject-name">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue eros nuncnúmero maximo de caracteres de ve scras amet.</p>
                            </div>
                        </div>
                        <div class="review-date">12/12/2023</div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}