{% extends 'revise_minder/base.html' %}
{% block content %}
{% include 'revise_minder/partials/_header.html' %}
    <main class="revisions-home-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="revisions-home-main-content-container">
            <div class="revisions">
                <div class="today-revisions">
                    <h2 class="revisions-list-title">Revisões para hoje</h2>
                    <ul>
                        {% if revisions_today %}
                        {% for revision in revisions_today %}
                        <li class="revision-list-item">
                            <div class="revision-subject-info">
                                <div class="revision-subject-icon {{ revision.study.subject.color }}"></div>
                                <div class="revision-subject-name">
                                    <p>{{ revision.study.subject.description }}</p>
                                </div>
                            </div>
                            <div class="revision-date">Hoje</div>
                        </li>
                        {% endfor %}
                        {% else %}
                            <h3>(Nenhuma revisão a ser feita.)</h3>
                        {% endif %}
                    </ul>
                </div>

                <HR>

                <div class="next-revisions">
                    <h2 class="revisions-list-title">Revisões Futuras</h2>
                    <ul>
                        {% if next_revisions %}
                        {% for revision in next_revisions %}
                        <li class="revision-list-item">
                            <div class="revision-subject-info">
                                <div class="revision-subject-icon {{ revision.revision.study.subject.color }}"></div>
                                <div class="revision-subject-name">
                                    <p>{{ revision.revision.study.subject.description }}</p>
                                </div>
                            </div>
                            <div class="revision-date">{{revision.date.day}}/{{revision.date.month}}/{{revision.date.year}}</dv>
                        </li>
                        {% endfor %}
                        {% else %}
                            <h3>(Nenhuma revisão a ser feita.)</h3>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </main>
{% endblock %}