{% extends 'revise_minder/base.html' %}
{% block content %}
{% include 'revise_minder/partials/_header.html' %}
    <main class="subject-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="subject-main-content-container">
            <h2>Criar um novo Assunto</h2>

            <div class="subject-form-explanation-container">
                <div class="subject-form-container">
                    <form action="{% url 'subject' %}" method="POST">
                        {% csrf_token %}
                
                        {% for field in form.visible_fields %}
                        <div>
                            <label for="{{ field.id_or_label }}">{{ field.label }}</label><BR>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="subject-btn-submit-container">
                            <button type="submit">Criar</button>
                        </div>
                    </form>
                </div>
                <div class="explanation">
                    <p>Crie um novo assunto para poder usar em suas revisões.</p>
                </div>
            </div>

            <hr>

            <div class="my-subjects">
                <h2>Meus assuntos:</h2>
                <ul>
                    {% if subjects %}
                    {% for subject in subjects %}
                        <li>
                            <div class="subject">
                                <p>{{ subject.description }}</p>
                                <div class="subject-color {{ subject.color }}">
                                    <div class="commands">
                                        <p><a href="{% url 'subject' %}">Excluir</a></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    {% else %}
                        <h3>(Não há assuntos ainda.)</h3>
                    {% endif %}
                </ul>
            </div>

        </div>
    </main>
{% endblock %}