{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <div class="form-container">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_or_label }}">{{ field.label }}</label><BR>
                {{ field }}
            </div>
            {% endfor %}
            <BR>
            <div class="terms-input-container">
                <input type="checkbox" name="terms" id="terms" required>
                <label for="terms">Li e concordo com os termos da </label>
                <span>Política de Privacidade</span>
            </div>
            <div class="btn-submit-container">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        <p>Já possui uma conta? Faça o <a href="{% url 'login' %}">Login</a>.</p>
    </div>
</body>
</html>