{% extends 'revise_minder/base.html' %}
{% block content %}
    <main class="update-password-main-container">
        {% include 'revise_minder/partials/_side-menu.html' %}
        <div class="update-password-main-content-container">
            {% include 'partials/_message.html' %}
            <h2>Alterar senha</h2>

            <div class="update-password-form-container">
                <form action="{% url 'update_password' %}" method="POST">
                    {% csrf_token %}
                
                    {% for field in form.visible_fields %}
                    <div>
                        <label for="{{ field.id_or_label }}">{{ field.label }}</label><BR>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="btn-submit-container">
                        <button type="submit">Atualizar senha</button>
                    </div>
                </form>
            </div>
        </div> 
    </main>
{% endblock %}