{% extends 'revise_minder/base.html' %}
{% block content %}
    {% include 'partials/_message.html' %}
    <h2 class="centered-text">Alterar senha</h2>
    <div class="update-password-form-container">
        <form action="{% url 'update_password' %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_or_label }}">{{ field.label }}</label><BR>
                {{ field }}
            </div>
            {% endfor %}
            <div class="btn-submit-container">
                <button type="submit">Atualizar senha</button>
            </div>
        </form>
    </div>
{% endblock %}